@font-face {
  font-family: "ABCDiatype";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/ABCDiatype-Regular.woff") format("woff");
}

@font-face {
  font-family: "ABCDiatype";
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/ABCDiatype-Bold.woff") format("woff");
}
