/* ------------------------------------------------ */
/* ----- Basic Setup ----- */
/* ------------------------------------------------ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --default-font-size: 1.6rem;
    --default-font-size-desktop: 1.8rem;

    --dark-grey-background: #345;
    --sliver-text: #c6d8d7;
    --off-white: #e8e5de;
    --white-text: #ffffff;
    --blue-primary: #6772e5;

    --grid-max-width: 114rem;
}

html {
    font-size: 62.5%; // 16/10*100 = 62.5%
}

body {
    font-size: var(--default-font-size);
    font-family: 'HK Grotesk', sans-serif;
    line-height: 1.6;
    color: var(--dark-grey-background);
    background: var(--off-white);

    @media(min-width: 980px) {
        font-size: var(--default-font-size-desktop);
    }

}

img {
    max-width: 100%;
    object-fit: contain;
}

/* ------------------------------------------------ */
/* ----- Reusable Components ----- */
/* ------------------------------------------------ */

.row {
    max-width: var(--grid-max-width);
    margin: 0 auto;
    padding: 0 3rem;
}

section {
    transform: translateY(-15rem);
}

/* ------------------------------------------------ */
/* ----- Utils ----- */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* ----- Headlines & Paragraphs ----- */
/* ------------------------------------------------ */

h1,
h2,
h2 {
    font-weight: 700;
    line-height: 1.2;
}

h1,
h2 {
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
    font-weight: 100;

    @media(min-width: 980px) {
        font-size: 4.5rem;
    }
}


h2 {
    font-size: 2.8rem;

    @media(min-width: 980px) {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;

    @media(min-width: 980px) {
        font-size: 2.4rem;
    }
}

/* ------------------------------------------------ */
/* ----- Links & Buttons ----- */
/* ------------------------------------------------ */

a {
    color: rgb(0, 132, 255);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 3rem;
    text-decoration: none;
    border: 1px solid;
    border-radius: 10rem;
    color: var(--white-text);
    border: 1px solid var(--blue-primary);
    background: var(--blue-primary);
    font-weight: bold;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

    &--gitpod {
        font-size: 85%;
        padding: .8rem 2.2rem .8rem 4.5rem;

        &::before {
            content: url('../resources/logo.svg');
            position: absolute;
            left: 1.5rem;
        }
    }
}

/* ------------------------------------------------ */
/* ----- Header ----- */
/* ------------------------------------------------ */

.header {
    padding: 5rem 0 20rem;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url('../resources/bg.jpg');
    background-size: cover;
    background-position: bottom;
    color: var(--white-text);

    @media(min-width: 980px) {
        padding-top: 15rem;
    }

    p {
        max-width: 75ch;
    }

    .row {
        opacity: .9;
    }
}

/* ------------------------------------------------ */
/* ----- Projects ----- */
/* ------------------------------------------------ */


.filters {
    margin-bottom: 3rem;

    label {
        position: absolute;
        left: -100000rem;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    &__search {
        font-family: inherit;
        border: 1px solid var(--white-text);
        background: transparent;
        padding: .5rem;
        color: var(--off-white);

        &::placeholder {
            color: var(--white-text);
        }
    }
}

.project {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background: var(--white-text);
    border: 1px solid #eee;

    @media(min-width: 980px) {
        flex-direction: row;
        padding: 5rem 3rem;
    }

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    &>* {
        @media(max-width: 980px) {
            margin-bottom: 2rem;
        }

        @media(min-width: 980px) {
            flex: 1;
        }
    }

    &__img {
        max-width: 100%;
        width: 10rem;

        &-container {
            width: 100%;
            text-align: left;

            @media(min-width: 980px) {
                display: flex;
                flex: 0 0 12%;

                a {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    &__text {
        @media(min-width: 980px) {
            flex: 0 0 45%;

            p {
                max-width: 40ch;
            }
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__tags {
        a {
            display: inline-block;
        }

        @media(min-width: 980px) {
            flex: 0 0 20%;
        }
    }

    &__tag {
        display: inline-block;
        padding: 3px 1rem;
        margin-bottom: 1.5rem;
        font-size: 80%;
        font-weight: bold;
        border-radius: 4px;
        transform: translateY(-4px);
    }

    &__cta {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media(max-width: 980px) {
            .btn {
                margin-top: 2rem;
            }
        }

        @media(min-width: 980px) {
            flex: 0 0 22%;
            margin-left: auto;
            align-items: flex-end;
            justify-content: space-between;
            border-left: 1px solid #dfdfdf;
        }
    }
}

/* ------------------------------------------------ */
/* ----- Adding Your Project ----- */
/* ------------------------------------------------ */

.add-project {
    padding: 10rem 0;

    &__text {
        max-width: 70ch;
        margin-bottom: 2rem;
    }

}

/* ------------------------------------------------ */
/* ----- Community Feedback ----- */
/* ------------------------------------------------ */


.feedback {
    &__tweets {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* ------------------------------------------------ */
/* ----- Frictionless Coding on Github ----- */
/* ------------------------------------------------ */

.frictionless {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;

    @media(max-width: 980px) {
        max-width: 60ch;
    }

    @media(min-width: 980px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__img {
            flex: 0 0 50%;
        }

        &__text-box {
            flex: 0 0 45%;
        }
    }



    &__text-box {
        margin-top: 2rem;

        .btn {
            margin-top: 2rem;
        }
    }

}