/* ------------------------------------------------ */
/* ----- Basic Setup ----- */
/* ------------------------------------------------ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --default-font-size: 1.5rem;
    --default-font-size-desktop: 1.6rem;

    --dark-grey-background: #345;
    --sliver-text: #c6d8d7;
    --off-white: #f7f7f7;
    --white-text: #ffffff;
    --blue: rgb(0, 132, 255);
    --blue-primary: #400cde;
    --purple: #9a88d5;

    --shadow-1: 0 .5rem .8rem rgba(0, 0, 0, .35);

    --grid-max-width: 114rem;
}

html {
    font-size: 62.5%; // 16/10*100 = 62.5%

    @media(max-width: 340px) {
        font-size: 55%;
    }
}

body {
    font-size: var(--default-font-size);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--dark-grey-background);
    background: var(--text-white);
    font-weight: 400;
    overflow-x: hidden;

    @media(min-width: 980px) {
        font-size: var(--default-font-size-desktop);
    }

}

img {
    max-width: 100%;
    object-fit: contain;
}

/* ------------------------------------------------ */
/* ----- Reusable Components ----- */
/* ------------------------------------------------ */

.row {
    max-width: var(--grid-max-width);
    margin: 0 auto;
    padding: 0 3rem;

    @media(max-width: 340px) {
        padding: 1rem;
    }
}

section {
    transform: translateY(-20rem);
}

/* ------------------------------------------------ */
/* ----- Headlines & Paragraphs ----- */
/* ------------------------------------------------ */

h1,
h2,
h3 {
    line-height: 1.2;
    font-weight: 500;
}

h1,
h2 {
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;

    @media(min-width: 980px) {
        font-size: 3.8rem;
    }
}

h2 {
    font-size: 2.8rem;

    @media(min-width: 980px) {
        font-size: 3.5rem;
    }
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;

    @media(min-width: 980px) {
        font-size: 2.2rem;
    }
}

/* ------------------------------------------------ */
/* ----- Links & Buttons ----- */
/* ------------------------------------------------ */

::-moz-focus-inner {
    border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
    outline: 2px solid #2c8fe0bb;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) a:focus {
    outline: none;
}

a {
    color: var(--blue);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 3rem;
    color: var(--dark-grey-background);
    text-decoration: none;
    font-weight: 400;
    border: 1px solid;
    border-radius: 10rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transition: all .2s;

    &:hover,
    &:focus {
        color: var(--white-text);
        background: var(--purple);
        border: 1px solid var(--purple);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    }

    &--gitpod {
        padding: .8rem 2.2rem .8rem 4.5rem;
        font-size: 85%;
        font-weight: 600;
        color: var(--white-text);
        border: 1px solid var(--blue-primary);
        background: var(--blue-primary);

        &::before {
            content: url('../resources/logo.svg');
            position: absolute;
            left: 1.5rem;
        }
    }
}

/* ------------------------------------------------ */
/* ----- Header ----- */
/* ------------------------------------------------ */

.side-stream {
    position: absolute;
    left: -21%;
    top: 20vh;
    height: 70vh;
    max-height: 580px;
    min-height: 40rem;

    @media(max-width: 1250px) {
        display: none;
    }
}

.header {
    padding: 10rem 0 20rem;
    background-color: var(--off-white);

    @media(min-width: 980px) {
        padding: 24rem 0 22rem;
    }

    p {
        max-width: 60ch;
    }
}

.graphic {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 114rem;

    &__stream {
        position: absolute;
        right: 30rem;
        height: 20rem;

        @media(max-width: 980px) {
            height: 10rem;
            left: 5rem;
        }

        @media(max-width: 400px) {
            left: -5rem;
        }
    }

    &__plane {
        position: absolute;
        top: 8rem;
        right: 25rem;
        height: 6rem;

        @media(max-width: 980px) {
            height: 3rem;
            top: 3.3rem;
            left: 25rem;
        }

        @media(max-width: 400px) {
            left: 14rem;
        }

    }
}

/* ------------------------------------------------ */
/* ----- Projects ----- */
/* ------------------------------------------------ */

.projects {
    padding-bottom: 10rem;
}

.filters {
    position: relative;
    width: 16.5rem;
    margin: 4rem 0;

    &>span {
        position: absolute;
        top: 0;
        right: -12%;
        font-size: 2rem;
        transition: all .2s;
    }

    label {
        position: absolute;
        left: -100000rem;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    &__search {
        display: inline-block;
        font-family: inherit;
        width: 100%;
        border: 2px solid rgba(0, 0, 0, .4);
        padding: 0.5rem 1.5rem;
        transition: all .2s;

        &:focus,
        &:hover {
            border: 2px solid var(--purple);
            transform: translateY(-.3rem);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);

            &+span {
                transform: translateY(-.3rem);
                color: var(--purple);
            }
        }

        &::placeholder {
            color: inherit;
        }
    }
}

.project {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background: var(--white-text);
    border: 1px solid #ccc;
    border-radius: 4px;

    @media(min-width: 980px) {
        flex-direction: row;
        padding: 4rem 3rem;
    }

    &:not(:last-child) {
        margin-bottom: 4rem;
    }

    &>* {
        @media(max-width: 980px) {
            margin-bottom: 2rem;
        }

        @media(min-width: 980px) {
            flex: 1;
        }
    }

    &__img {
        max-width: 100%;
        width: 10rem;

        &-container {
            width: 100%;
            text-align: left;

            @media(min-width: 980px) {
                display: flex;
                flex: 0 0 15%;

                a {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    &__text {

        @media(min-width: 980px) {
            flex: 0 0 42%;

            p {
                max-width: 40ch;
            }
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__github-icon {
        display: inline-block;
        margin-left: .5rem;
        opacity: .7;
        height: 1.8rem;
    }

    &__tags {
        a {
            display: inline-block;
        }

        @media(min-width: 980px) {
            flex: 0 0 16%;
            min-height: 12rem;
        }
    }

    &__tag {
        display: inline-block;
        padding: 3px 1rem;
        margin-bottom: 1.5rem;
        font-size: 80%;
        font-weight: 600;
        border-radius: 4px;
        transform: translateY(-4px);
    }

    &__cta {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media(max-width: 980px) {
            img {
                margin-top: 2rem;
            }
        }

        @media(min-width: 980px) {
            flex: 0 0 24%;
            margin-left: auto;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
}

/* ------------------------------------------------- */
/* ----- Not Found ----- */
/* ------------------------------------------------- */

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40vh;
    padding: 10rem 0;
    background: var(--white-text);
    text-align: center;

    &__button {
        border: none;
        background: none;
        font: inherit;
        text-decoration: underline;
        color: var(--blue);
        cursor: pointer;
    }

    &__img {
        display: block;
        margin-bottom: 3rem;
    }
}

/* ------------------------------------------------ */
/* ----- Adding Your Project ----- */
/* ------------------------------------------------ */

.add-project {
    padding: 10rem 0;
    background: var(--off-white);

    &__contents {
        max-width: 75ch;
        margin: 0 auto;
        padding: 5rem;
        text-align: center;
        background: var(--white-text);
        border: 3px solid var(--purple);

        @media(max-width: 400px) {
            padding: 3rem;
        }
    }

    &__text {
        margin: 3rem auto;
        text-align: left;
        max-width: 65ch;
    }

}

/* ------------------------------------------------ */
/* ----- Community Feedback ----- */
/* ------------------------------------------------ */


.feedback {
    padding: 10rem 0;

    &__tweets {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* ------------------------------------------------ */
/* ----- Frictionless Coding on Github ----- */
/* ------------------------------------------------ */

.frictionless {
    background: var(--off-white);

    &__contents {
        padding: 10rem 0;
        display: flex;
        flex-direction: column;

        @media(max-width: 980px) {
            max-width: 60ch;
        }

        @media(min-width: 980px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    @media(min-width: 980px) {
        &__img {
            flex: 0 0 50%;
            max-width: 565px;
        }

        &__text-box {
            flex: 0 0 45%;
        }
    }

    &__text-box {
        margin-top: 2rem;

        .btn {
            margin-top: 2rem;
        }
    }

}

/* ------------------------------------------------ */
/* ----- Footer ----- */
/* ------------------------------------------------ */

.footer {
    transform: translateY(-5rem);
    text-align: center;

    img {
        height: 4rem;
    }
}