/* ------------------------------------------------ */
/* ----- Basic Setup ----- */
/* ------------------------------------------------ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}